<!-- <div *ngIf="dataLoaded == false"class="spinner-border text-info" role="status"></div>
<span class="visually-hidden">Loading...</span>
<table *ngIf="dataLoaded == true" class="table">
    <thead>
      <tr>
        <th>Model İsmi</th>
        <th>Müşteri</th>
        <th>Kiralama Tarihi</th>
        <th>Geri Teslim Tarihi</th>
      </tr>
    </thead>
  
    <tr *ngFor="let rental of rentals">
      <td>{{ rental.modelName }}</td>
      <td>{{ rental.fullName }}</td>
      <td>{{ rental.rentDate }}</td>
      <td>{{ rental.returnDate }}</td>
    </tr>
  </table> -->